.callout-red{
  border:2px solid #ef4444;
  background: rgba(239,68,68,.10);
  padding:.75rem 1rem;
  border-radius:.75rem;
}

.badge-excl{
  display:inline-block;
  background:#ef4444;
  color:#fff;
  font-weight:700;
  padding:.1rem .45rem;
  border-radius:.4rem;
  margin-right:.5rem;
}

.callout-gray{
  border:2px solid #6b7280;
  background: rgba(107,114,128,.10);
  padding:.75rem 1rem;
  border-radius:.75rem;
}

.badge-gray{
  display:inline-block;
  background:#6b7280;
  color:#fff;
  font-weight:700;
  padding:.1rem .45rem;
  border-radius:.4rem;
  margin-right:.5rem;
}