.objectInspectorPanel {
    background-color: #323236;
    margin-bottom: 20px;
    display: block;
    padding: 5px;
    border: #4c4b4b solid 1px;
    min-width: 400px;
}

.objectTitle {
    font-size: 20px;
    font-weight: bold;
    border: #4c4b4b solid 1px;
    background-color: #3a3d41;
    margin: 10px;
    padding: 10px;
}

.fieldsDiv {
    margin: 10px;
    padding: 10px;
    background-color: #3a3d41;
    border: #4c4b4b solid 1px;
}

.fieldDiv {
    margin-bottom: 10px;
    padding: 10px;
    border: #9a4604 solid 1px;
}

.closeButton {
    cursor: pointer;
    float: right;
    color: #858585;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 26px;
}

.closeButton:hover {
    background-color: #b32f2f;
    cursor: pointer;
}

.triangleObjectInspector {
    font-size: 18px;
    border-right: 1px solid #555;
    padding-right: 10px;
    color: #858585;
    margin-right: 10px;
}

.triangleFields {
    font-size: 12px;
    padding-right: 5px;
    color: #858585;
    margin-right: 10px;
}

.triangleObjectInspector:hover {
    color: #4383a1;
    cursor: pointer;
}

.triangleFields:hover {
    color: #4383a1;
    cursor: pointer;
}


.fieldState {
    padding-top: 5px;
}

.currentState {
    font-weight: bold;
    color: #00bf2b;
}

.viewInTrace {
    font-size:10px;
    margin-left: 10px;
    cursor: pointer;
    background: #ffffff;
}

.viewInTrace:hover {
    background: #1b4563;
}