body {
    font-family: monospace;
    margin: 0;
    background-color: #333;
}

main {
    display: flex;
    height: calc(100vh - 56px);
}

button {
    font-family: monospace;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #252424;
}

::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

