body {
    font-family: monospace;
    margin: 0;
    background-color: #333;
}

main {
    display: flex;
    height: calc(100vh - 56px);
}

#splitter {
    width: 8px;
    cursor: col-resize;
    background-color: #2a2b2f;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}

#splitter:hover {
    background-color: #3a3b40;
}

main.resizing {
    user-select: none;
    cursor: col-resize;
}


button {
    font-family: monospace;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #252424;
}

::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

